@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header, .content-box-1{
    background-color: #1a1a1d;
    color: #C3073f;
}

.header{
    margin: 0;
    display:flex;
    justify-content: space-between;
}

.logo{
    font-size: 60px;
    font-weight: 900;
    padding: 10px 0px 10px 80px ;
    font-family: 'Orbitron', sans-serif;
}

.links ul{
    display: flex;
    width:600px;
    justify-content: space-between;
    padding-right: 150px;
    padding-top: 20px;
    list-style-type: none;
}

.links ul li{
    font-weight: 900;
    font-size:20px;
}
body, h1{
    margin:0px;
    
}

.content-box-1{
    height: 400px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.box-1-1{
    width: 600px;
}

button{
    background-color: #C3073f;
    height: 40px;
    width:150px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    border-radius: 10px;
}

button:hover{
    background-color: #1a1a1d;
}

.content-box-2{
    text-align: center;
    padding-top: 10px;
    background-color: #CCCCCC;
}
.content-box-2 h1{
    font-family: 'Abril Fatface', cursive;
    text-decoration: underline;
}

.box-2-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    height: 300px;
    width: 250px;
    padding-bottom: 30px;
}

img{
    border-radius: 20px;
}

.content-box-3,.content-box-4,.footer{
    height: 150px;
    background-color: #1a1a1d;
    color:#C3073f;
}

.content-box-3{
    text-align: center;
    padding-top: 20px;
    font-family: 'Comforter', cursive;
    font-size: 50px;
}

.content-box-3 p{
    padding: 0px;
    margin: 0px;
}

.box-4-1{
    background-color: #C3073f;
    display: flex;
    border-radius: 20px;
    width:900px;
    height: auto;
    color: black;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.box-4-1-1 p{
    font-weight: 500;
}

.footer{
    color: white;
    text-align: center;
}
.footer p a{
    text-decoration: none;
    color: white;
}
